.intro {
    color: chocolate;
}
.tropical {
    color: crimson;
    font-size: large;
}
.headers {
    background-color: #f7325e;
    color: #7dc410;
}
body {
    font-family: fantasy;
}
.popular {
    color: darkgreen;
    font-size: large;
}